@import "../defaults.scss";
@import "../mixns.scss";
@import "../defaults.scss";

.page-container {
  @include putSide;
}

header {
  height: 4.44rem;
  align-self: center;
  z-index: 23;
  background-color: $wrapperC;
  align-items: center;
  display: flex;
  padding-left: 3rem;
  padding-right: 3rem;
  justify-content: space-between;
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 11% 1fr;
}

.monitored-stations {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 14%;
  small {
    @include syrcle($mainColor, 0.44rem);
    align-self: flex-end;
  }

  span {
    font-size: 1.3rem;
  }

  img {
    width: 2.3rem;
  }

  div {
    width: 3rem;
    font-size: 0.66rem;
  }
}

.navigate-btn {
  font-size: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18%;
  height: 40%;
  border-radius: 2rem;
  background-color: $backgroundC;
  position: relative;

  div {
    z-index: 6;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    height: 96%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    cursor: pointer;
  }
}
.activebtn {
  background-color: $mainColor;
  color: $wrapperC;
  fa-icon {
    color: $wrapperC !important;
  }
}

.activebtns {
  color: $wrapperC;
  fa-icon {
    color: $wrapperC !important;
  }
}
.jj {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50%;
  border-radius: 1rem;
  animation-duration: 0.2s;
  animation-name: ss;
  background-color: $mainColor;
  z-index: 2;
  animation-fill-mode: forwards;
}

@keyframes ss {
  to {
    left: 0%;
  }
}

.kk {
  height: 96%;
  width: 50%;
  position: absolute;
  left: 0%;
  border-radius: 1rem;
  animation-duration: 0.2s;
  animation-name: kk;
  background-color: $mainColor;
  z-index: 2;
  animation-fill-mode: forwards;
}

@keyframes kk {
  to {
    left: 50%;
  }
}
fa-icon {
  font-size: 1.8rem;
}

.lists {
  background-color: $backgroundC;
  height: 96%;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.lists-head {
  display: flex;
  justify-content: space-between;
}
.filter {
  width: 26%;
  align-items: center;
  display: flex;
  justify-content: space-between;

  span {
    font-size: 0.9rem;
  }

  .mhgan {
    font-size: 0.9rem;
    fa-icon {
      font-size: 0.9rem;
    }
  }

  .drop {
    font-size: 0.7rem;
    width: 7rem;
    height: 1.5rem;
    background-color: $wrapperC;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    fa-icon {
      font-size: 0.6rem;
    }
  }
}

.statement {
  margin-top: 2rem;
  background-color: $wrapperC;
  height: 6rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name {
  img {
    width: 2.5rem;
  }
  width: 13%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  span {
    font-size: small;
  }
}

small {
  @include syrcle($mainColor, 0.4rem);
  align-self: flex-end;
}

.compression {
  display: flex;
  align-items: center;
  span {
    font-size: 0.66rem;
  }
}

.heat-ball {
  margin-right: 1rem;
  @include syrcle(rgb(202, 0, 0), 1rem);
  border: solid rgba(245, 154, 154, 0.822) 0.3rem;
}

.heat-bally {
  margin-right: 1rem;
  @include syrcle(rgb(239, 178, 23), 1rem);
  border: solid rgb(238, 230, 146) 0.3rem;
}

.Map {
  height: 100%;
  z-index: -11;

  #map {
    height: 98%;
  }
}

.location {
  position: absolute;
  right: 0;
  top: 50%;
  background-color: $mainColor;
  z-index: 33;
  @include center;
  width: 2rem;
  height: 2rem;
  border-top-left-radius: 0.39rem;
  border-bottom-left-radius: 0.39rem;

  img {
    width: 1.3rem;
  }
}



.point {
  cursor: pointer;
  @include syrcle($mainColor, 1rem);
  position: absolute;
  top: 33%;
  left: 35%;
  z-index: 2222222;
  box-shadow: 0px 0px 2px 0.5rem rgb(229, 107, 93);
}
