<div class="dashboard-container">
  <div class="dashboard">
    <div class="total-value">
      <div class="total-number">71,082 <span>DQ</span></div>
      <span class="total-name">total value</span>
      <span class="increase"> <fa-icon [icon]="faSortUp"></fa-icon> 82%</span>
    </div>
    <div class="total-value">
      <div class="total-number">20,000 <span>ES</span></div>
      <span class="total-name">total sales</span>
      <span class="increase"> <fa-icon [icon]="faSortDown"></fa-icon> 14%</span>
    </div>
    <div class="total-value">
      <div class="total-number">31,082 <span>DQ</span></div>
      <span class="total-name">total sales</span>
      <span class="increase"> <fa-icon [icon]="faSortUp"></fa-icon> 11 j</span>
    </div>
    <div class="total-value">
      <div class="total-number">1567 <span>DQ</span></div>
      <span class="total-name">Total Transaction Count</span>
      <span class="increase"> <fa-icon [icon]="faSortDown"></fa-icon> 2%</span>
    </div>

    <div class="charts-container">
      <div class="head">
        <div class="box-title">Stations Activates Overview</div>
        <div class="box-nav">
          <div>
            <span>Transaction</span>
          </div>
          <div class="active-nav">
            <span>sales </span>
          </div>
          <div>
            <span>Compression</span>
          </div>
        </div>

        <div class="icons-nav">
          <div class="navigate-btn">
            <div><fa-icon [icon]="faChartLine"></fa-icon></div>
            <div class="activebtn"><fa-icon [icon]="faChartBar"></fa-icon></div>
            <div><fa-icon [icon]="faChartGantt"></fa-icon></div>
          </div>
          <fa-icon [icon]="threedots"></fa-icon>
        </div>
      </div>
      <div class="charts">
        <canvas #chart width="520" height="135"></canvas>
      </div>
    </div>
  </div>

  <div class="hourly-part">
    <div class="bars-container">
      <div class="dispenser">Dispenser Sales</div>
      <div class="bars2">
        <div class="bard">
          <div></div>
          <span>d1</span>
        </div>
        <div class="bard">
          <div></div>
          <span>d2</span>
        </div>
        <div class="bard">
          <div></div>
          <span>d3</span>
        </div>
        <div class="bard">
          <div></div>
          <span>d4</span>
        </div>
        <div class="bard">
          <div></div>
          <span>d5</span>
        </div>
      </div>
    </div>
    <div class="sales-ranges">
      <div class="rang-container">
        <div class="station">
          <img src="assets/gas-station.png" />
          <span>station name</span>
          <div class="much">54,732l m <sup>3</sup></div>
        </div>
        <div class="range"></div>
      </div>
      <div class="rang-container">
        <div class="station">
          <img src="assets/gas-station.png" />
          <span>station name</span>
          <div class="much">79,732l m <sup>3</sup></div>
        </div>
        <div class="range s"></div>
      </div>
      <div class="rang-container l">
        <div class="station">
          <img src="assets/gas-station.png" />
          <span>station name</span>
          <div class="much">0000000</div>
        </div>
        <div class="range"></div>
      </div>
    </div>
  </div>
</div>
