<div class="layer-container">
  <header>
    <div class="head-item-wrapper " [routerLink]="['../stations']" >
      <div class="head-item">
        <img src="assets/gas-station.png" /> <span>stations </span>
      </div>
    </div>
    <div class="head-item-wrapper  " [routerLink]="['../dispenser']"  >
      <div class="head-item">
        <img src="assets/group.png" /> <span>dispenser </span>
      </div>
    </div>
    <div class="head-item-wrapper  activL"  [routerLink]="['../compressor']">
      <div class="head-item">
        <img src="assets/compre.png" /> <span>compressor </span>
      </div>
    </div>
    <div class="head-item-wrapper"  [routerLink]="['../nozzle']">
      <div class="head-item">
        <img src="assets/b-nozzle.png"  /> <span>stations </span>
      </div>
    </div>
  </header>
  <div class="filter">
    <div></div>
  </div>
  <div class="table-container"></div>
  <div class="add-btn"><button> <span>+</span> add new</button></div>
</div>
