<div class="background" [ngClass]="{gone: move ==true}" >
  <div class="form-box " [ngClass]="{'gone-box': move ==true}" >
    <div class="head">
      <div><img src="assets/gas-station.png" /> add new station</div>
      <div (click)="close()">x</div>
    </div>
    <form [formGroup]="sForm"
    (ngSubmit)="addNew()"
    >
      <div class="inputs">
        <div>
          <label>station name</label>
          <input   formControlName="name" placeholder="placeholder..." type="text" />
        </div>

        <div>
          <label>station iD</label>
          <input   formControlName="id" type="number" />
        </div>
        <div  class="long">
          <label>location</label>
          <input  formControlName="location" class="long" type="text" />
        </div>
        <div class="long">
          <label>description</label>
          <input  formControlName="description" class="long" type="text" />
        </div>
      </div>
      <div class="form-btns">
        <div>
          <button (click)="close()" type="reset" >cancel</button>
          <button type="submit"><img src="assets/saveBtn.png" width="15rem" /> save</button>
        </div>
      </div>
    </form>
  </div>
</div>
