@import'../station-layer/station-layer.component.scss';

.trd {
  grid-template-columns: 2% 1fr 1fr 1.5fr 1.5fr 10%   ;
text-align: center ;
width: 96%;
padding-left: 0.3rem;
padding-right: 0.3rem;
div{
  justify-self: center;
  align-self: center;
}

}
.trh {
  width: 96%;
  grid-template-columns: 2% 1fr 1fr 1.5fr 1.5fr 10%   ;
text-align: center ;
  padding-left: 0.3rem;
  padding-right: 0.3rem;

}

.table-icon{
  margin: 0;
  padding: 0;
  justify-self:flex-end!important;
  text-align: end;
}
