<div class="layer-container">
  <header>
    <div class="head-item-wrapper" [routerLink]="['../betrol']">
      <div class="head-item">
        <img src="assets/gas-station.png" /> <span>stations </span>
      </div>
    </div>
    <div class="head-item-wrapper activL">
      <div class="head-item">
        <img src="assets/w-roup.png" /> <span>dispenser </span>
      </div>
    </div>
    <div class="head-item-wrapper">
      <div class="head-item">
        <img src="assets/b-compre.png" /> <span>compressor </span>
      </div>
    </div>
    <div class="head-item-wrapper">
      <div class="head-item">
        <img src="assets/b-nozzle.png" /> <span>stations </span>
      </div>
    </div>
  </header>

  <div class="filter" >
    <div class="ap" *ngIf="!showFetchBtn">API crud</div>
    <div *ngIf="showFetchBtn"> <button (click)="fetchData()"> fetch Data</button></div>
  </div>


    <div class="table-container">
      <div class="table">
        <div class="trh">
          <div>#</div>
          <div>dispenser</div>
          <div>class </div>
          <div>
            location
          </div>
          <div>phone number</div>
          <div></div>
        </div>
        <div class="tbody-container">
          <div class="tbody">
            <div
            *ngFor="let dispenser of dispenserData; let i = index"
            [ngClass]="{ deleteRow: dispenser.deleteR }"
              class="trd"
              >
              <div class="h">{{ i + 1}}</div>
              <div class="h">{{ dispenser.dispenser| dece : 20 }}</div>
              <div>{{ dispenser.class | dece : 10 }}</div>
              <div>{{ dispenser.location | dece : 27 }}</div>
              <div>{{ dispenser.phone |dece:9 }}</div>

              <div class="table-icons">
                <div class="taple-icon-modify" routerLink="updateD/{{dispenser.id}}" >
                  <fa-icon [icon]="pen"></fa-icon>
                </div>
                <div class="taple-icon-delete" (click)="deleteR(i)">
                  <fa-icon [icon]="deledetR"></fa-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="add-btn" [routerLink]="['dForm']">
    <button><span>+</span> add new</button>
  </div>
</div>

<router-outlet></router-outlet>
